<div class="form-modal-overlay" *ngIf="formModalCourse">
  <div class="form-modal">
    <div class="filter">
      <mat-toolbar color="filter">
        <mat-toolbar-row>
          <span>{{'culinary.filter_course' | translate}}</span>
          <span class="example-spacer"></span>
          <button mat-raised-button="mat-raised-button" (click)="closeModal()">{{'product.done' | translate}}</button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="content-filter">
      <div class="sortby-items">
        <mat-list>
          <mat-list-item *ngFor="let course of courses">
            <mat-checkbox class="example-margin" [(ngModel)]="course.checked" (click)="course.checked ? filterCourseArr.splice(filterCourseArr.indexOf(course.course_title), 1) : filterCourseArr.push(course.course_title)">
              {{ course.course_title }}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<div class="form-modal-overlay" *ngIf="formModalCuisine">
  <div class="form-modal">
    <div class="filter">
      <mat-toolbar color="filter">
        <mat-toolbar-row>
          <span>{{'culinary.filter_cuisine' | translate}}</span>
          <span class="example-spacer"></span>
          <button mat-raised-button="mat-raised-button" (click)="closeModal()">{{'product.done' | translate}}</button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="content-filter">
      <div class="sortby-items">
        <mat-list>
          <mat-list-item *ngFor="let cuisine of cuisines">
            <mat-checkbox class="example-margin" [(ngModel)]="cuisine.checked" (click)="cuisine.checked ? filterCuisineArr.splice(filterCuisineArr.indexOf(cuisine.cuisine_title), 1) : filterCuisineArr.push(cuisine.cuisine_title)">
              {{ cuisine.cuisine_title }}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<div class="form-modal-overlay" *ngIf="formModalHost">
  <div class="form-modal">
    <div class="filter">
      <mat-toolbar color="filter">
        <mat-toolbar-row>
          <span>{{'culinary.filter_host' | translate}}</span>
          <span class="example-spacer"></span>
          <button mat-raised-button="mat-raised-button" (click)="closeModal()">{{'product.done' | translate}}</button>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="content-filter">
      <div class="sortby-items">
        <mat-list>
          <mat-list-item *ngFor="let host of hosts">
            <mat-checkbox class="example-margin" [(ngModel)]="host.checked" (click)="host.checked ? filterHostArr.splice(filterHostArr.indexOf(host.host_name), 1) : filterHostArr.push(host.host_name)">
              {{ host.host_name }}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>

<div class="form-modal-overlay" *ngIf="formModalBrand">
    <div class="form-modal">
      <div class="filter">
        <mat-toolbar color="filter">
          <mat-toolbar-row>
            <span>Filter Brand</span>
            <span class="example-spacer"></span>
            <button mat-raised-button="mat-raised-button" (click)="closeModal()">{{'product.done' | translate}}</button>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div class="content-filter">
        <div class="sortby-items">
          <mat-list>
            <mat-list-item *ngFor="let brand of brands">
              <mat-checkbox class="example-margin" [(ngModel)]="brand.checked" (click)="brand.checked ? filterBrandArr.splice(filterBrandArr.indexOf(brand.brand_name), 1) : filterBrandArr.push(brand.brand_name)">
                {{ brand.brand_name }}
              </mat-checkbox>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="exhibition" (scroll)="onScroll($event)"> -->
<div class="exhibition">
  <div class="content-list-recipe">
    <div class="filter-province">
      <div class="button-row button-filter">
        <button mat-raised-button class="btn-filter" (click)="getFilterCourse()">{{'culinary.course' | translate}}</button>
        <button mat-raised-button class="btn-filter" (click)="getFilterCuisine()">{{'culinary.cuisine' | translate}}</button>
        <button mat-raised-button class="btn-filter" (click)="getFilterHost()">{{'culinary.host' | translate}}</button>
        <button mat-raised-button class="btn-filter" (click)="getFilterBrand()">Brand</button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12" *ngIf="recipes?.length === 0">
          <div class="no-product">
              {{'culinary.content_no' | translate}}
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-4" *ngFor="let recipe of recipes">
          <a href="recipes/{{ recipe.url }}">
            <div class="box-recipe">
              <div class="images">
                <img src="{{ recipe.image_domain }}/{{ recipe.image_path }}/{{ recipe.image }}">
              </div>
              <div class="title-recipe">
                {{ recipe.title }}
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>