.exhibition {
    margin: 0;
    padding: 0;
}
.exhibition .banner {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.exhibition .banner img {
    position: absolute;
    width: auto;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.exhibition .banner .title-page-exhibition {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}
.exhibition .banner .title-page-exhibition span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.content-list-recipe {
    width: 100%;
    background-color: #ffffff;
}
.content-list-recipe a {
    text-decoration: none !important;
}
.content-list-recipe .box-recipe {
    margin: 10px;
    box-shadow: 0 0 5px 0 #dddddd;
}
.content-list-recipe .box-recipe .images {
    height: 160px;
    overflow: hidden;
    background-color: #dddddd;
}
.content-list-recipe .box-recipe .images img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.content-list-recipe .box-recipe .title-recipe {
    text-align: center;
    font-size: 14px;
    padding: 15px 10px;
    color: #666666;
}
.filter-province {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.form-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
}
.form-modal {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.filter .mat-dialog-container {
    position: absolute !important;
    height: 70% !important;
    bottom: 0 !important;
}
.content-filter {
    margin-top: 60px;
}
.color-red {
    color: #ad2825 !important;
    font-weight: bold;
}
.not-actived {
    display: none;
}
.sortby-items {
    width: 100%;
}
.button-filter{
    text-align: center
}
.btn-filter{
    min-width: 78px;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .content-list-recipe .box-recipe .images{
        height: 220px;
    }
}