.box-contractor{
    margin: 15px 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px #ddd;
    overflow: hidden
}
.box-contractor .tumbnail img{
    width: 100%;
}
.contractor-name{
    font-size: 14px;
    text-align: center;
    padding: 15px;
    color: #999999;
}
.contractor-content{
    margin:0;
    padding:0;
}
.video-category{
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #666666
}
.video-list{
    background-color: #ffffff
}