.faq{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: auto;
    max-height: 1000px;
    overflow: scroll;
}
.faq-box{
    margin: 10px;
    padding: 15px;
    text-align: center;
    color: #666666;
    font-size: 14px;
    border: 1px solid #ddd;
    box-shadow: 0 0 8px 0 #ddd;
}