<div class="account profile-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="profile-header">
                    <mat-icon class="back-icon" (click)="backAccount()">keyboard_backspace</mat-icon>
                    <span>{{'account.change_password' | translate}}</span>
                </div>
            </div>
            <div class="col-12">
                <div class="account-photo-profile-edit">
                    <form novalidate [formGroup]="registerForm">
                        <mat-form-field>
                            <input matInput type="password" placeholder="{{ 'account.old_password' | translate }}" formControlName="old_password" required>
                        </mat-form-field>  
                        <mat-form-field>
                            <input matInput type="password" placeholder="{{ 'account.new_password' | translate }}" formControlName="new_password" required>
                        </mat-form-field>  
                        <mat-form-field>
                            <input matInput type="password" placeholder="{{ 'account.confirm_password' | translate }}" formControlName="confirm_password" required>
                        </mat-form-field>  
                        <mat-action-row>
                            <button class="btn-profile-save" [disabled]="registerForm.invalid" (click)="saveChangePassword()">{{ 'form.save' | translate }}</button>
                        </mat-action-row>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkout-loading" *ngIf="cekProfile">
    <div class="loading-io">
        <img src="assets/images/loading.gif">
        <span>Loading ...</span>
    </div>
</div>