.showrooms {
    margin: 0;
    padding: 0;
    min-height: auto;
    max-height: 1000px;
    overflow: scroll;
    background-color: #fff;
}
.showrooms .filter-province {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.banner-shopping {
    margin-top: 10px;
}
.banner-shopping .image {
    height: 200px;
    overflow: hidden;
}
.banner-shopping .image img {
    width: 100%;
}
.banner-shopping .term-name {
    position: absolute;
    top: 53%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 95%;
    padding-top: 25%;
}
.form-modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
}
.form-modal {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.filter .mat-dialog-container {
    position: absolute !important;
    height: 70% !important;
    bottom: 0 !important;
}
.content-filter {
    margin-top: 60px;
}
.color-red {
    color: #ad2825 !important;
    font-weight: bold;
}
.not-actived {
    display: none;
}
.sortby-items {
    width: 100%;
}
.example-radio-group {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}
.example-radio-button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner-shopping .image {
    height: 280px;
  }
  .banner-shopping .term-name {
    padding-top: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .banner-shopping .image {
    height: 350px;
  }
  .banner-shopping .term-name {
    top: 51%;
    height: 97%;
  }
}