<div class="catalogues" (scroll)="onScroll($event)">
    <div class="form-modal-overlay" *ngIf="formModalBrand">
        <div class="form-modal">
            <div class="filter">
                <mat-toolbar color="">
                    <mat-toolbar-row>
                        <span>{{'shopping.filter_brand' | translate}}</span>
                        <span class="example-spacer"></span>
                        <button mat-raised-button="mat-raised-button" (click)="closeModal()">{{'product.done' | translate}}</button>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div class="content-filter">
                <mat-list>
                    <mat-list-item *ngFor="let brand of brands">
                        <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="brand.checked"
                            (click)="brand.checked ? filterBrandArr.splice(filterBrandArr.indexOf(brand.brand_name), 1) : filterBrandArr.push(brand.brand_name)"
                            [(indeterminate)]="indeterminate"
                            [align]="align">
                            {{ brand.brand_name }}
                        </mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>

    <div class="filter">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label="mat-tab-label">
                                <div class="button-row">
                                    <button mat-raised-button="mat-raised-button" (click)="getFilterBrand()">{{'shopping.filter_brand' | translate}}
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </button>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-4" *ngFor="let item of catalogues | filterBrandPipe: filterBrandArr">
                <div class="catalogue" (click)="goDetail(item.url)">
                    <div class="image">
                        <img src="{{ item.image_domain }}/{{ item.thumb_path }}/{{ item.thumb_image }}">
                    </div>
                    <!-- <div class="title">{{ item.title }}</div> -->
                </div>
            </div>
        </div>
    </div>
</div>