<div class="cooking-success-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="check-cooking">
                    <i class="far fa-check-circle fa-w-16 fa-7x"></i>
                </div>
                <div class="thanks-text">
                    {{'culinary.thank_you_for_signing_up' | translate}}
                </div>
                <div class="text-email">
                    {{'culinary.please_check_your_email' | translate}}
                </div>
                <div class="finish">
                    <button type="button" class="button-finish" (click)="finish()">{{'culinary.finish' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>