<div class="layout-spinner" *ngIf="spinner">
    <div class="spinner">
        <img src="assets/images/spin.gif">
    </div>
</div>
<div class="box-login">
    <div class="back-login">
        <mat-icon (click)="back()">keyboard_backspace</mat-icon>
    </div>
    <div class="logo">
        <img src="https://kitchenart.id/images/logo.png">
    </div>
    <div class="form">
        <form class="form-login" [formGroup]="forgotPasswordForm">
            <div class="btn-row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="note-forgot">
                                {{'form.input_your_email' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-form">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <fa name="envelope"></fa>
                        </div>
                        <div class="col-10">
                            <input type="email" name="email" placeholder="Email" class="form-control" formControlName="email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <button mat-raised-button="mat-raised-button" class="btn-login" (click)="forgotPassword()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>