.landing-page{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9;
}
.landing-page .background-image{
    width: 100%;
    overflow: hidden;
}
.landing-page .background-image img{
    width: auto;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.landing-page .logo-kitchenart{
    position: fixed;
    width: 100%;
    top: 15px;
    left: 15px;
}
.landing-page .logo-kitchenart img{
    width: 40%;
}
.landing-page .content-image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
    width: 100%;
    padding: 30px;
}
.cooming-soon{
    color: #2e2e2e;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase
}
.sub-cooming-soon{
    color: #2e2e2e;
    font-size: 16px;
    text-align: center;
    line-height: 1.5rem;
}
.header-contact-us{
    padding: 15px 15px 0;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.content-contact{
    padding: 10px 0 0;
}
.content-contact .icon-contact{
    font-size: 14px;
    color: #666666;
}
.content-contact .title-contact{
    font-size: 14px;
    color: #666666;
    padding-left: 5px;
}
.content-contact a{
    text-decoration: none !important
}
.whatsapp-text{
    color: #28a745 !important;
    font-weight: bold
}
.follow-us{
    margin-top: 10px;
    padding: 15px 15px 0;
    width: 100%
}
.follow-us .text-follow{
    font-size: 14px;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
    margin-right: 10px;
}
.follow-us .follow-sosmed{
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    margin-right: 2px;
    text-align: center;
    display: inline-block;
}
.follow-us .follow-sosmed a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    text-align: center
}
.youtube{
    background-color: #f40000
}
.instagram{
    background-color: #E02189
}
.facebook{
    background-color: #3b5998
}
.twitter{
    background-color: #6ccef4
}
.pinterest{
    background-color: #f01614
}
.content-service{
    text-align: center;
    margin-top: 15px;
}
.text-email{
    color: #c3071c !important;
}
.service-contact{
    margin-top: 10px;
}