<div class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="background-image">
                    <img src="/assets/images/landing.jpg">
                </div>
                <div class="logo-kitchenart">
                    <img src="/assets/images/logo-kitchenart.png">
                </div>
                <div class="content-image">
                    <div class="cooming-soon">
                        Coming Soon
                    </div>
                    <div class="sub-cooming-soon">
                        Our website is under construction, follow us for new information
                    </div>
                    <div class="center">
                        <div class="follow-us">
                            <div class="follow-sosmed youtube">
                                <a target="_blank" href="{{ youtube }}">
                                    <fa name="youtube"></fa>
                                </a>
                            </div>
                            <div class="follow-sosmed instagram">
                                <a target="_blank" href="{{ instagram }}">
                                    <fa name="instagram"></fa>
                                </a>
                            </div>
                            <div class="follow-sosmed facebook">
                                <a target="_blank" href="{{ facebook }}">
                                    <fa name="facebook"></fa>
                                </a>
                            </div>
                            <div class="follow-sosmed twitter">
                                <a target="_blank" href="{{ twitter }}">
                                    <fa name="twitter"></fa>
                                </a>
                            </div>
                            <div class="follow-sosmed pinterest">
                                <a target="_blank" href="{{ pinterest }}">
                                    <fa name="pinterest"></fa>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-service">
                        <div class="header-contact-us">PRODUCT, SHIPPING, & RETURN</div>
                        <div class="content-contact">
                            <a href="https://api.whatsapp.com/send?phone=+62811207288">
                                <span class="icon-contact whatsapp-text">
                                    <fa name="whatsapp"></fa>
                                </span>
                                <span class="title-contact whatsapp-text">
                                    {{ whatsappHelp }}
                                </span>
                            </a>
                        </div>
                        <div class="content-contact">
                            <span class="icon-contact">
                                <fa name="phone"></fa>
                            </span>
                            <span class="title-contact">
                                {{ phoneHelp }}
                            </span>
                        </div>
                        <div class="content-contact">
                            <span class="icon-contact">
                                <fa name="fax"></fa>
                            </span>
                            <span class="title-contact">
                                {{ faxHelp }}
                            </span>
                        </div>
                        <div class="content-contact">
                            <a href="mailto:{{ emailHelp }}">
                                <span class="icon-contact text-email">
                                    <fa name="envelope"></fa>
                                </span>
                                <span class="title-contact text-email">
                                    {{ emailHelp }}
                                </span>
                            </a>
                        </div>
                        <div class="header-contact-us service-contact">SERVICE, INSTALLATION, & DEMO</div>
                        <div class="content-contact">
                            <a href="https://api.whatsapp.com/send?phone=+62816862937">
                                <span class="icon-contact whatsapp-text">
                                    <fa name="whatsapp"></fa>
                                </span>
                                <span class="title-contact whatsapp-text">
                                    {{ whatsappService }}
                                </span>
                            </a>
                        </div>
                        <div class="content-contact">
                            <span class="icon-contact">
                                <fa name="phone"></fa>
                            </span>
                            <span class="title-contact">
                                {{ phoneService }}
                            </span>
                        </div>
                        <div class="content-contact">
                            <a href="mailto:{{ emailService }}">
                                <span class="icon-contact text-email">
                                    <fa name="envelope"></fa>
                                </span>
                                <span class="title-contact text-email">
                                    {{ emailService }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>