.detail-product {
    background-color: #ffffff;
}

.detail-content-product {
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
}

.box-product-name {
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
}

.box-product-name .brand-name {
    font-size: 18px;
    font-weight: bold;
}

.box-product-name .product-name {
    font-size: 18px;
}

.box-product-name .product-name span {
    font-size: 14px;
}

.discount-price {
    font-size: 20px;
    font-weight: bold;
    color: #666;
    padding: 15px 0 0;
}

.normal-price {
    font-size: 12px;
    text-decoration: line-through;
    color: #c3071c;
}

.box-method {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background-color: #ffffff;
    border-top: 1px solid #eee;
    box-shadow: 0 0 10px -5px #666;
    width: 100%;
    padding: 10px;
}

.product-highlight {
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
}

.product-highlight:last-child {
    border-bottom: 1px solid #ffffff;
}

.product-title {
    font-size: 14ßpx;
    font-weight: bold;
    color: #999;
    padding: 5px 0;
}

.content-highlight ul {
    padding: 0 15px;
}

.content-highlight ul li {
    color: #666;
}

.area-action {
    padding: 15px 0 0;
}

.fa-icon {
    position: relative;
    top: -2px;
}
.fa-icon-wish {
    position: relative;
    top: -2px;
    color: #c3071c;
}

.btn-action {
    padding: 0 15px 0 0;
    color: #666;
}

.container-installment {
    line-height: 1.5rem;
    padding: 10px 0;
}

.container-installment .list-instalment {
    color: #666;
    font-size: 14px;
}

.banner-detail img {
    width: 100%;
}

.none-border {
    border-bottom: none;
}

.video-url {
    margin-top: 15px;
}

.cutsiize-image {
    margin-top: 10px;
    border: 1px solid #eee;
}

.cutsiize-image img {
    width: 100%;
}

.list-description {
    line-height: 1.5rem;
    margin-top: 10px;
}

.excellence-container {
    margin-top: 15px;
}

.excellence-container .box-excellence {
    margin-top: 15px;
}

.excellence-container .box-excellence .image {
    padding: 0 10px 5px;
}

.excellence-container .box-excellence .image img {
    width: 100%;
}

.title-excellence {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
}

.content-excellence {
    padding: 5px 10px;
    font-size: 14px;
    color: #999;
    text-align: left;
}

.spesification-container {
    margin-top: 15px;
}

.content-tabs {
    border-bottom: 1px solid #eee;
}

.table-content-specivication {
    margin-top: 15px;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table td,
table th {
    padding: 0.625em;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.notes-spesification {
    font-size: 12px;
    color: #666;
    padding: 5px 0;
}

.box-product {
    background-color: #ffffff;
    margin: 5px;
    padding: 0;
    box-shadow: 0 0 4px 1px #eee;
}

.box-product .image {
    overflow: hidden;
    padding: 10px 10px 0;
}

.box-product .image img {
    width: 100%;
    position: relative;
}

.box-product .content {
    height: 100px;
    padding: 10px;
}

.box-product .content .brand {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.box-product .content .name {
    padding: 5px 0;
    font-size: 12px;
    color: #787878;
}

.box-product .content .normal-price {
    font-size: 10px;
    color: #ad2825;
    text-decoration: line-through;
}

.box-product .content .diskon-price {
    padding: 5px 0;
    font-size: 12px;
    color: #787878;
}

.box-product .installment {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #787878;
    font-weight: bold;
}

.swipper-others-color {
    margin-top: 10px;
}

.package-item ul {
    padding: 0;
}

.package-item ul li {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ddd;
    color: #666;
    padding: 10px 20px;
    margin-right: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.package-item ul li.active {
    color: #c3071c;
    border: 1px solid #c3071c;
}

.mat-chip.mat-chip-selected.mat-primary {
    background-color: #c3071c;
}

.item-package {
    margin: 5px 5px 0 0 !important;
}

.active {
    background-color: #c3071c;
    color: #fff;
}

.disable {
    opacity: 0.5;
}

.table-content {
    margin: 0;
    padding: 10px;
    float: left;
    width: 50%;
    font-size: 14px;
    color: #666;
}

.video-url img {
    width: 100%;
}

.box-table {
    border: 1px solid #ddd;
}

.slider-image-detail {
    width: 100%;
    padding: 0;
    margin: 0;
}

.slider-image-detail ul {
    padding: 0;
    margin: 0;
}

.slider-image-detail ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
}

.slide-image {
    padding: 20px;
    display: none;
}

.slide-image img {
    width: 100%;
}

.active-slide {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.slider-image-detail-thumbnail {
    padding: 0;
    margin: 0;
}

.slider-image-detail-thumbnail ul {
    margin: 0;
    display: flex;
    overflow-x: auto;
    padding-left: 5px;
}

.slider-image-detail-thumbnail ul li {
    list-style: none;
    padding: 0 5px 5px;
    display: inline-block;
}

.thumbnail-image {
    width: 80px;
    padding: 10px;
    border: 1px solid #eee;
    opacity: 0.5;
}

.thumbnail-image img {
    width: 100%;
}

.active-thumb {
    opacity: 1;
}

.overlay-popup {
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.overlay-popup .popup {
    position: absolute;
    border-radius: 5px;
    width: 90%;
    height: auto;
    background-color: #ffffff;
    left: 50%;
    top: 37%;
    transform: translateX(-50%) translateY(-50%);
}

.overlay-popup .popup .header {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.overlay-popup .popup .header .title {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.overlay-popup .popup .header .close {
    font-size: 16px;
    text-align: right;
}

.mat-form-field {
    width: 100%;
}

textarea.mat-input-element {
    height: 100px;
}

.overlay-popup .popup .content {
    padding: 15px;
}

.not-actived {
    display: none;
}

.title-product {
    font-size: 18px;
    color: #666;
    padding: 10px;
    font-weight: bold;
}

.brand-rating {
    font-weight: normal;
    font-size: 16px;
}

.count-review {
    font-size: 16px;
    color: #666;
}

.mat-progress-bar {
    height: 22px;
    width: 97%;
}

.progress-rating {
    padding: 20px 0;
    border-bottom: 3px solid #ddd;
}

.rating-progress {
    padding: 5px 0;
}

.review-detail {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.review-detail .titile {
    font-size: 14px;
    color: #666;
    padding: 5px;
    font-weight: bold;
}

.review-detail .name {
    font-size: 14px;
    color: #666;
    padding: 0 5px;
    font-weight: bold;
}

.rating-detail {
    font-size: 10px;
}

.review-detail .comment {
    padding: 20px 5px 5px;
    font-size: 14px;
    color: #999;
}

.rating-starts {
    float: left;
}

.rating-date {
    float: right;
    text-align: right;
    color: #999;
    font-size: 12px;
    font-weight: bold;
}

.discuss {
    padding: 20px 0;
}

.discuss .box-discuss {
    width: 100%;
    border: 1px solid #999;
}

.discuss .box-discuss .title {
    font-size: 16px;
    color: #666;
    background-color: #ffffff;
    position: absolute;
    top: 11px;
    text-align: center;
    left: 25%;
}

.discuss .box-discuss .text-question {
    margin-top: 15px;
    width: 100%;
    border: none;
    height: 150px;
    padding: 5px;
    font-family: arial;
    color: #666;
    font-size: 16px;
    outline: none;
}

.button-send {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

.question {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.question .name {
    font-size: 14px;
    color: #666;
}

.question .description {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
}

.child-discuss {
    margin-top: 5px;
    padding: 5px;
    background-color: #ddd;
    border-radius: 5px;
}

.child-discuss .name {
    font-size: 14px;
    color: #666;
}

.child-discuss .description {
    font-size: 14px;
    color: #999;
}

.button-add {
    font-size: 14px;
    color: #666;
    padding-top: 5px;
}

.text-comment {
    display: none;
    margin: 5px 0;
    background-color: #eee;
    border-radius: 5px;
}

.comment-child {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #eee;
    padding: 5px;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.active-discuss {
    display: block;
}

.title-comment {
    font-size: 14px;
    color: #666;
    padding: 5px 0 0 5px;
}

:host /deep/ .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none !important;
}
.container-content {
    line-height: 1.5rem;
}

.overlay-image {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 9999999;
    top: 0;
    left: 0;
}
.overlay-image .header {
    padding: 15px;
    text-align: right;
    font-size: 18px;
    color: #fff;
}
.overlay-image .header span {
    margin-left: 15px;
}
swiper {
    width: 100% !important;
}

swiper img {
    width: 100%;
    height: auto;
}
.image-overlay {
    background-color: #000000;
}
.image-overlay img {
    width: 100%;
}
.container-content {
    line-height: 1.5rem;
}
.btn-action-detail {
    min-width: 40px;
}
.btn-action-buy {
    width: 100%;
}
.btn-action-icon {
    width: 100%;
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #666;
    font-size: 12px;
    box-shadow: 0 0 5px 0 #eee;
    outline: none;
}
.box-action-detail {
    padding: 2px;
}
.add-chart {
    background-color: #c3071c;
    color: #fff;
}
.status-stock {
    font-size: 20px;
    font-weight: bold;
    color: #c3071c;
    padding: 15px 0 0;
    text-align: center;
}
.brand-galery{
    border: 1px solid #ddd;
    border-radius: 5px;
}
.brand-galery .image img{
    width: 100%;
}
.brand-galery .title-brand-galery{
    padding: 10px 0 15px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.box-shipping {
    padding: 5px 10px;
    color: #666;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 17px;
    margin-bottom: 15px;
}
.box-shipping:last-child{
    margin-bottom: 0;
}
.box-shipping .img-shipping{
    box-sizing: border-box;
}
.box-shipping .img-shipping img{
    width: 100%;
}
.box-shipping .name-shipping{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.box-shipping .desc-shipping{
    font-size: 12px;
    padding-left: 10px;
}
.center-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.overlay-popup .layout{
    margin: 58px 0 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.overlay-popup .layout .lay-header{
    padding: 15px;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
}
.overlay-popup .layout .lay-header h6{
    font-size: 16px;
    margin: 0;
}
.overlay-popup .layout .lay-header h5{
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
}
.overlay-popup .layout .lay-header span{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
}
.overlay-popup .layout .lay-header .province-shipping{
    font-size: 14px;
}
.overlay-popup .layout .lay-header .province-shipping span{
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    top: 63px;
    font-size: 14px;
}
.overlay-popup .layout .content-lay{
    box-sizing: border-box;
    padding: 15px;
    overflow: scroll;
    height: 70%;
}
.content-lay-scroll {
    height: 53% !important;
}
.overlay-popup .layout .content-lay ul{
    margin: 5px 0 0;
    list-style: none;
    padding-left: 0px;
}
.overlay-popup .layout .content-lay ul li {
    display: inline-block;
    background-color: #c3071c;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.overlay-popup .layout .content-lay .detail-cost{
    padding: 15px;
    line-height: 18px;
    background-color: #ffffff;
    margin-top: 15px;
}
.overlay-popup .layout .content-lay .detail-cost .header-cost{
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    padding: 0 0 10px 0;
    font-weight: bold;
    margin-bottom: 10px;
}
.overlay-popup .layout .content-lay .detail-cost .cost-courier{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.overlay-popup .layout .content-lay .detail-cost .price-courier{
    font-size: 14px;
}
.overlay-popup .layout .content-lay .btn-cost-shipping{
    width: 100%;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    background-color: #c3071c;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
}
.silver-color{
    background-color: #f5f5f5 !important;
}
.padding-0{
    padding: 0 !important;
}
.overlay-popup .layout .content-lay .list-province {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.overlay-popup .layout .content-lay .list-province span {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #c3071c;
    font-size: 14px;
}

.form-field{
    width: 100%;
}

.address-shipping{
    margin: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.conten-address-shipping{
    font-size: 14px;
    color: #999999;
    padding: 10px;
    word-wrap: break-word;
}

@media (width: 320px) { 
    .content-lay-scroll{ 
        height: 44% !important;
    }
}

@media (width: 360px) { 
    .content-lay-scroll{ 
        height: 50% !important;
    }
}

@media (width: 411px) { 
    .content-lay-scroll{ 
        height: 61% !important;
    }
}

@media (width: 414px) { 
    .content-lay-scroll{ 
        height: 57% !important;
    }
}